In [2]:
import pandas as pd

In [3]:
Q1. List any five functions of the pandas library with execution.
Ans1.
1.read_csv() : used to read csv files.

# Reading a CSV file into a DataFrame
data = pd.read_csv('data.csv')
print(data.head())


2.head() : Function: Displays the first few rows of a DataFrame.

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)

print(df.head())

3. groupby() : Function: Groups data based on a categorical variable for further analysis.

data = {
    'City': ['New York', 'San Francisco', 'New York', 'San Francisco'],
    'Sales': [100, 150, 200, 120]
}
df = pd.DataFrame(data)

grouped_data = df.groupby('City').sum()  # Grouping sales data by city and finding the sum
print(grouped_data)


4.fillna() : Function: Fills missing values in a DataFrame with a specified value or method.

import pandas as pd
import numpy as np

# Creating a DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8]
}
df = pd.DataFrame(data)

filled_df = df.fillna(0)  # Filling missing values with 0
print(filled_df)


5. concat() : Function: Concatenates DataFrames along a particular axis.

import pandas as pd

# Creating two DataFrames
data1 = {'A': [1, 2], 'B': [3, 4]}
data2 = {'A': [5, 6], 'B': [7, 8]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

concatenated = pd.concat([df1, df2])  # Concatenating two DataFrames
print(concatenated)

SyntaxError: ignored

In [1]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
#DataFrame with a new index that starts from 1 and increments by 2 for each row.
#Ans2.
import pandas as pd

data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

def reindex_with_increment(df):
    new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)
    df = df.set_index(new_index)
    return df


new_df = reindex_with_increment(df)
print(new_df)

   A  B   C
1  1  5   9
3  2  6  10
5  3  7  11
7  4  8  12

In [4]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
#iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
#function should print the sum to the console.

#Ans3.

import pandas as pd

data = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

def sum_first_three_values(df):

    values_sum = df['Values'].head(3).sum()
    print("Sum of the first three values:", values_sum)

sum_first_three_values(df)

Sum of the first three values: 60

In [5]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
#'Word_Count' that contains the number of words in each row of the 'Text' column.

#Ans4

import pandas as pd


data = {
    'Text': [
        "This is a sample sentence.",
        "Count the words in this one.",
        "Another example for word count."
    ]
}
df = pd.DataFrame(data)

def count_words(row):
    return len(row.split())

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: count_words(x))
    return df


df = add_word_count_column(df)
print(df)

                              Text  Word_Count
0       This is a sample sentence.           5
1     Count the words in this one.           6
2  Another example for word count.           5

In [6]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans5.
DataFrame.size: This attribute returns the total number of elements present in the DataFrame. It calculates the size by
multiplying the number of rows by the number of columns in the DataFrame. Therefore, DataFrame.size gives the total count of
all the cells (entries) in the DataFrame.

DataFrame.shape: This attribute returns a tuple representing the dimensions of the DataFrame. It provides the number of rows
followed by the number of columns in the DataFrame. The output is in the format (number of rows, number of columns).

SyntaxError: ignored

In [7]:
Q6. Which function of pandas do we use to read an excel file?
Ans6.In pandas, you can use the read_excel() function to read data from an Excel file. This function allows you to read the
contents of an Excel file into a pandas DataFrame.

for eg :
df = pd.read_excel('example.xlsx')

SyntaxError: ignored

In [8]:
#Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
#addresses in the format 'username@domain.com'. Write a Python function that creates a new column
#'Username' in df that contains only the username part of each email address.

#Ans7.
import pandas as pd

data = {
    'Email': [
        'user1@example.com',
        'anotheruser@email.com',
        'testuser@testdomain.com'
    ]
}
df = pd.DataFrame(data)

def extract_username(email):
    return email.split('@')[0]

def create_username_column(df):
    df['Username'] = df['Email'].apply(lambda x: extract_username(x))
    return df


df = create_username_column(df)
print(df)

                     Email     Username
0        user1@example.com        user1
1    anotheruser@email.com  anotheruser
2  testuser@testdomain.com     testuser

In [9]:
""" Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2 """

#Ans8.
import pandas as pd

data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}
df = pd.DataFrame(data)

def filter_dataframe(df):
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df


result_df = filter_dataframe(df)
print(result_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [10]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
#median, and standard deviation of the values in the 'Values' column.

#Ans9.
import pandas as pd


data = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    return mean_value, median_value, std_value


mean, median, std = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

In [11]:
#Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
#create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
#for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
#should include the current day.

#Ans10.
import pandas as pd


data = {
    'Date': pd.date_range(start='2023-01-01', periods=30),
    'Sales': [20, 25, 30, 15, 35, 40, 45, 50, 55, 60, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]
}
df = pd.DataFrame(data)

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df


df = calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-01-01     20      20.000000
1  2023-01-02     25      22.500000
2  2023-01-03     30      25.000000
3  2023-01-04     15      22.500000
4  2023-01-05     35      25.000000
5  2023-01-06     40      27.500000
6  2023-01-07     45      30.000000
7  2023-01-08     50      34.285714
8  2023-01-09     55      38.571429
9  2023-01-10     60      42.857143
10 2023-01-11     25      44.285714
11 2023-01-12     30      43.571429
12 2023-01-13     35      42.857143
13 2023-01-14     40      42.142857
14 2023-01-15     45      41.428571
15 2023-01-16     50      40.714286
16 2023-01-17     55      40.000000
17 2023-01-18     60      45.000000
18 2023-01-19     65      50.000000
19 2023-01-20     70      55.000000
20 2023-01-21     30      53.571429
21 2023-01-22     35      52.142857
22 2023-01-23     40      50.714286
23 2023-01-24     45      49.285714
24 2023-01-25     50      47.857143
25 2023-01-26     55      46.428571
26 2023-01-27     60      45.000000
27 2023-01-28     65      50.000000
28 2023-01-29     70      55.000000
29 2023-01-30     75      60.000000

In [12]:
""" Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame."""

#Ans11
import pandas as pd


data = {
    'Date': pd.date_range(start='2023-01-01', periods=5)
}
df = pd.DataFrame(data)

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df


df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [13]:
#Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
#function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

#Ans12
import pandas as pd


data = {
    'Date': pd.date_range(start='2023-01-01', end='2023-02-28')
}
df = pd.DataFrame(data)

def select_date_range(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return filtered_df


result_df = select_date_range(df)
print(result_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

In [14]:
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Ans13. The primary library you need to import to use pandas is, unsurprisingly, pandas itself! To begin working with pandas functions and data
structures like DataFrames and Series, you should import the pandas library. This is typically done with the following import statement:


eg: import pandas as pd

SyntaxError: ignored